#banner_image{
	padding-bottom: 50px;
	margin-bottom: 20px;
	text-align: center;
	color: #f8f8f8;
	background: url(img/intro-bg_1.jpg) no-repeat center;
	background-size: cover;
}
#inner-banner-image{
	padding-top: 12%;
	width:80%;
	margin:auto;
}
#banner_content {
	position: relative;
	padding-top: 6%;
	padding-bottom: 6%;
	overflow:hidden;
	margin-top: 12%;
	margin-bottom: 12%;
	background-color: rgba(0, 0, 0, 0.7);
	max-width: 660px;
}
footer{
	padding: 10px 0;
	background-color: #101010;
	color:#9d9d9d;
	bottom: 0;
	width: 100%;
}
#item_list{
	padding-top:50px;
}
#content{
	min-height:600px;
	margin-top:200px;
}